/*-- https://nightdev.com/hosted/obschat?theme=dark&channel=andersomviolao&fade=false&bot_activity=true&prevent_clipping=false --*/
* {
  background-color: rgba(0, 0, 0, 0);
  line-height: 15px;
}

body {
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  overflow: hidden;
  margin: 0;
}

#chat_box {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  overflow: hidden;
  color: #ffffff;
  border-radius: 0px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

#chat_box.dark {
  background: rgba(0, 0, 0, 0);
  color: #af5b5b;
}

#chat_box.light {
  background: rgba(0, 0, 0, 0);
  color: #30615e;
}

.nick {
  color: #6e0777;
}

.tag {
  color: #00f7ff;
  vertical-align: bottom;
  height: 18px;
  width: 18px;
  padding: 0;
  margin-right: 2px;
  margin-bottom: -1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.chat_line {
  color: #5f2a66;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow-wrap: anywhere;
}

.message {
  color: #ffffff;
  display: inline;
}

.chat_line .time_stamp {
  color: #5663d4;
  display: none;
  padding-right: 2px;
}

.emoticon {
  margin-bottom: -7px;
}

/* Prevent stacking of IceCube, SoSnowy */
.bttv-emo-5849c9a4f52be01a7ee5f79d + .bttv-emo-5849c9a4f52be01a7ee5f79d,
.bttv-emo-567b5b520e984428652809b6 + .bttv-emo-567b5b520e984428652809b6 {
  display: none;
}

/* Ice Cube */
.emoticon + .bttv-emo-5849c9a4f52be01a7ee5f79d {
  margin-left: -32px;
}

/* SoSnowy */
.emoticon + .bttv-emo-567b5b520e984428652809b6 {
  margin-left: -32px;
}

/* SantaHat */
.emoticon + .bttv-emo-58487cc6f52be01a7ee5f205 {
  margin-left: -34px;
  margin-top: -18px;
}

/* TopHat, CandyCane, ReinDeer */
.emoticon + .bttv-emo-5849c9c8f52be01a7ee5f79e,
.emoticon + .bttv-emo-567b5c080e984428652809ba,
.emoticon + .bttv-emo-567b5dc00e984428652809bd {
  margin-left: -31px;
  margin-top: -18px;
}

/* cvMask, cvHazmat */
.emoticon + .bttv-emo-5e76d338d6581c3724c0f0b2,
.emoticon + .bttv-emo-5e76d399d6581c3724c0f0b8 {
  margin-left: -34px;
  height: 34px;
  width: 34px;
}

.cheermote {
  width: auto;
  max-height: 28px;
}

.emoji {
  width: 20px;
  height: auto;
}
